In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv("dataset/aluguel.csv",sep=';')

In [3]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [4]:
dados["Tipo"].value_counts()

Apartamento                    19532
Conjunto Comercial/Sala         6815
Loja/Salão                      1426
Casa de Condomínio               996
Casa                             967
Quitinete                        836
Galpão/Depósito/Armazém          623
Flat                             476
Prédio Inteiro                   301
Casa Comercial                   265
Casa de Vila                     249
Loja Shopping/ Ct Comercial      247
Box/Garagem                       82
Terreno Padrão                    70
Loft                              51
Sítio                             10
Loteamento/Condomínio              5
Studio                             4
Hotel                              2
Chácara                            1
Pousada/Chalé                      1
Indústria                          1
Name: Tipo, dtype: int64

In [5]:
bairros = dados["Tipo"].unique()
bairros

array(['Quitinete', 'Casa', 'Conjunto Comercial/Sala', 'Apartamento',
       'Casa de Condomínio', 'Prédio Inteiro', 'Flat', 'Loja/Salão',
       'Galpão/Depósito/Armazém', 'Casa Comercial', 'Casa de Vila',
       'Terreno Padrão', 'Box/Garagem', 'Loft',
       'Loja Shopping/ Ct Comercial', 'Chácara', 'Loteamento/Condomínio',
       'Sítio', 'Pousada/Chalé', 'Studio', 'Hotel', 'Indústria'],
      dtype=object)

In [6]:
df=[]
contagem=[]

In [7]:
for bairro in bairros:
    count=0
    for contabilizar_bairros in dados["Tipo"]:
        if bairro==contabilizar_bairros:
            count=count+1
    contagem.append(count)

In [8]:
df = pd.DataFrame(df)
df["Tipo"]=bairros
df["Quantidade"]=contagem

In [9]:
df

                           Tipo  Quantidade
0                     Quitinete         836
1                          Casa         967
2       Conjunto Comercial/Sala        6815
3                   Apartamento       19532
4            Casa de Condomínio         996
5                Prédio Inteiro         301
6                          Flat         476
7                    Loja/Salão        1426
8       Galpão/Depósito/Armazém         623
9                Casa Comercial         265
10                 Casa de Vila         249
11               Terreno Padrão          70
12                  Box/Garagem          82
13                         Loft          51
14  Loja Shopping/ Ct Comercial         247
15                      Chácara           1
16        Loteamento/Condomínio           5
17                        Sítio          10
18                Pousada/Chalé           1
19                       Studio           4
20                        Hotel           2
21                    Indústria           1

In [10]:
selecao = dados[0:6]

In [11]:
selecao

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

In [12]:
selecao = dados.isin(selecao)

In [13]:
dados_teste = dados[selecao]

In [14]:
select=dados_teste["Tipo"].notnull()

In [15]:
select

0         True
1         True
2         True
3         True
4         True
         ...
32955    False
32956    False
32957    False
32958    False
32959    False
Name: Tipo, Length: 32960, dtype: bool

In [16]:
dados_teste=dados_teste[select]

In [17]:
dados_teste.fillna({"IPTU":0,"Condominio":0},inplace=True)

In [18]:
dados_teste

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1.0,0.0,0.0,40.0,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2.0,0.0,1.0,100.0,7000.0,0.0,0.0
2,Conjunto Comercial/Sala,Barra da Tijuca,0.0,4.0,0.0,150.0,5200.0,4020.0,1111.0
3,Apartamento,Centro,1.0,0.0,0.0,15.0,800.0,390.0,20.0
4,Apartamento,Higienópolis,1.0,0.0,0.0,48.0,800.0,230.0,0.0
5,Apartamento,Vista Alegre,3.0,1.0,0.0,70.0,1200.0,0.0,0.0